aiohttp==3.7.4
async-timeout==3.0.1
attrs==19.3.0
autopep8==1.5.6
cachetools==4.1.0
cffi==1.14.5
chardet==3.0.4
cryptography==3.3.2
gidgethub==4.1.1
idna==2.9
iniconfig==1.0.1
more-itertools==8.7.0
multidict==5.1.0
packaging==20.9
pluggy==0.13.1
py==1.10.0
pycodestyle==2.6.0
pycparser==2.20
PyJWT==1.7.1
pyparsing==2.4.7
pytest==6.0.1
pytest-aiohttp==0.3.0
pytest-asyncio==0.14.0
python-dotenv==0.17.0
six==1.15.0
toml==0.10.1
uritemplate==3.0.1
yarl==1.4.2
